{% extends './base.html.twig' %}



{% block body %}
<div
		class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 mt-12">
		<!-- Review Item -->
		{% for post in posts %}
			<div class="text-center p-8 ">
				

				<h2 class="text-gray-700 font-bold text-3xl py-2">
					{{ post.title }}
				</h2>

				<h4 class="text-gray-500  text-xl py-2">
					{{ post.body }}
				</h4>


				{# <p class=" text-gray-700 pt-4 pb-10 leading-8 font-light">
					{{ post.userId }}
				</p> #}

				<a href="/posts/{{ post.userId }}" class="mt-8 uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
					View posts of user
				</a>
			</div>
		{% endfor %}

	</div>
{% endblock %}
